<div>
  <span class="recursiveItem-handle">{{item.name}}</span>
</div>


{{#unless isDragging}}
  {{#sortable-list
    items          = item.children
    tagName        = "ul"
    itemTagName    = "li"
    handleSelector = ".recursiveItem-handle"
    as |child|
  }}
    {{recursive-item item=child}}
  {{/sortable-list}}
{{/unless}}