.sortableItem {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  /* Required to make elements draggable in old WebKit */
  -khtml-user-drag: element;
  -webkit-user-drag: element;
}

.sortableItem:not(.-handleDefined),
.recursiveItem-handle {
  cursor: move;
}

.sortableItem.-isOutside {
  display: none;
}


.sortableList {
  padding-top:    1rem;
  padding-bottom: 1rem;
}

.list2 li {
  display: inline-block;
}
.list2 li:not(:last-child) {
  margin-right: 1rem;
}

.sortableList.-dragging {
  outline: 2px dotted deeppink;
}
